# 시리즈 만들기

In [2]:
import pandas as pd
s = pd.Series(['banana',42])
print(s)

s = pd.Series(['Wes McKinney', 'Creator of Pandas'])
print(s)

s = pd.Series(['Wes McKinney', 'Creator of Pandas'], index=['Person','Who'])
print(s)

0    banana
1        42
dtype: object
0         Wes McKinney
1    Creator of Pandas
dtype: object
Person         Wes McKinney
Who       Creator of Pandas
dtype: object

# 데이터프레임 만들기

In [3]:
scientist = pd.DataFrame({
    'Name' : ['Rosaline Franklin','William Gosset'],
    'Occupation':['Chemist','Statistician'],
    'Born':['1920-07-26','1876-06-13'],
    'Died':['1958-04-16','1937-10-16'],
    'Age':[37,61]
}
)
print(scientist)

scientist = pd.DataFrame({
    'Name' : ['Rosaline Franklin','William Gosset'],
    'Occupation':['Chemist','Statistician'],
    'Born':['1920-07-26','1876-06-13'],
    'Died':['1958-04-16','1937-10-16'],
    'Age':[37,61]
}
    ,index=['Rosaline Franklin',"William Gosset"],columns =['Occupation','Born','Age','Died']
)
print(scientist)


from collections import OrderedDict

scientists = pd.DataFrame(OrderedDict([
    ('Name' , ['Rosaline Franklin','William Gosset']),
    ('Occupation',['Chemist','Statistician']),
    ('Born',['1920-07-26','1876-06-13']),
    ('Died',['1958-04-16','1937-10-16']),
    ('Age',[37,61])
])
)
print(scientists)

                Name    Occupation        Born        Died  Age
0  Rosaline Franklin       Chemist  1920-07-26  1958-04-16   37
1     William Gosset  Statistician  1876-06-13  1937-10-16   61
                     Occupation        Born  Age        Died
Rosaline Franklin       Chemist  1920-07-26   37  1958-04-16
William Gosset     Statistician  1876-06-13   61  1937-10-16
                Name    Occupation        Born        Died  Age
0  Rosaline Franklin       Chemist  1920-07-26  1958-04-16   37
1     William Gosset  Statistician  1876-06-13  1937-10-16   61

# 데이터프레임에서 시리즈 선택하기

In [31]:
scientists = pd.DataFrame({
    'Name' : ['Rosaline Franklin','William Gosset'],
    'Occupation':['Chemist','Statistician'],
    'Born':['1920-07-26','1876-06-13'],
    'Died':['1958-04-16','1937-10-16'],
    'Age':[37,61]
}
    ,index=['Rosaline Franklin',"William Gosset"],columns =['Occupation','Born','Died','Age']
)

first_row = scientists.loc['William Gosset']
print(type(first_row))

print(first_row)

<class 'pandas.core.series.Series'>
Occupation    Statistician
Born            1876-06-13
Died            1937-10-16
Age                     61
Name: William Gosset, dtype: object

# index, values, keys 사용하기

In [11]:
print(first_row.index)

print(first_row.values)

print(first_row.keys())
print(first_row.keys()[0])

Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')
['Statistician' '1876-06-13' '1937-10-16' 61]
Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')
Occupation

# 시리즈의 mean, min, max, std 메서드 사용하기

In [15]:
ages = scientists['Age']
print(ages)

print(ages.mean())
print(ages.min())

print(ages.max())

print(ages.std())
print(ages.describe())

Rosaline Franklin    37
William Gosset       61
Name: Age, dtype: int64
49.0
37
61
16.97056274847714
count     2.000000
mean     49.000000
std      16.970563
min      37.000000
25%      43.000000
50%      49.000000
75%      55.000000
max      61.000000
Name: Age, dtype: float64

# 시리즈와 불린 추출 사용하기

In [24]:
scientists = pd.read_csv('../data/scientists.csv')

ages = scientists['Age']
print(ages.max())

print(ages.min())
print(ages.describe())

print(scientists[ages>ages.mean()])

manual_bool_values =[True,True,False,False,True,True,False,True]
print(ages[manual_bool_values])

90
37
count     8.000000
mean     59.125000
std      18.325918
min      37.000000
25%      44.000000
50%      58.500000
75%      68.750000
max      90.000000
Name: Age, dtype: float64
                   Name        Born        Died  Age     Occupation
1        William Gosset  1876-06-13  1937-10-16   61   Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90          Nurse
3           Marie Curie  1867-11-07  1934-07-04   66        Chemist
7          Johann Gauss  1777-04-30  1855-02-23   77  Mathematician
0    37
1    61
4    56
5    45
7    77
Name: Age, dtype: int64

# 시리즈와 브로드캐스팅

In [35]:
print(ages+ages)
print(ages*ages)
print(ages+100)

print(pd.Series([1,100]))

print(ages + pd.Series([1,100]))


rev_ages= ages.sort_index(ascending=False)
print(rev_ages)


print(ages*2)
print(ages+rev_ages)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64
0    1369
1    3721
2    8100
3    4356
4    3136
5    2025
6    1681
7    5929
Name: Age, dtype: int64
0    137
1    161
2    190
3    166
4    156
5    145
6    141
7    177
Name: Age, dtype: int64
0      1
1    100
dtype: int64
0     38.0
1    161.0
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
7      NaN
dtype: float64
7    77
6    41
5    45
4    56
3    66
2    90
1    61
0    37
Name: Age, dtype: int64
0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64
0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

# 데이터프레임과 불린 추출

# 데이터프레임과 브로드캐스팅

# 열의 자료형 바꾸기와 새로운 열 추가하기

# 시리즈, 데이터프레임의 데이터 섞어보기

# 데이터프레임의 열 삭제하기

# 피클 형식으로 저장하기

# CSV 불러오기