# 시리즈 만들기

In [2]:
import pandas as pd
s = pd.Series(['banana',42])
print(s)

s = pd.Series(['Wes McKinney', 'Creator of Pandas'])
print(s)

s = pd.Series(['Wes McKinney', 'Creator of Pandas'], index=['Person','Who'])
print(s)

0    banana
1        42
dtype: object

# 데이터프레임 만들기

In [11]:
scientist = pd.DataFrame({
    'Name' : ['Rosaline Franklin','William Gosset'],
    'Occupation':['Chemist','Statistician'],
    'Born':['1920-07-26','1876-06-13'],
    'Died':['1958-04-16','1937-10-16'],
    'Age':[37,61]
}
)
print(scientist)

scientist = pd.DataFrame({
    'Name' : ['Rosaline Franklin','William Gosset'],
    'Occupation':['Chemist','Statistician'],
    'Born':['1920-07-26','1876-06-13'],
    'Died':['1958-04-16','1937-10-16'],
    'Age':[37,61]
}
    ,index=['Rosaline Franklin',"William Gosset"],columns =['Occupation','Born','Age','Died']
)
print(scientist)


from collections import OrderedDict

scientists = pd.DataFrame(OrderedDict([
    ('Name' , ['Rosaline Franklin','William Gosset']),
    ('Occupation',['Chemist','Statistician']),
    ('Born',['1920-07-26','1876-06-13']),
    ('Died',['1958-04-16','1937-10-16']),
    ('Age',[37,61])
])
)
print(scientists)

                Name    Occupation        Born        Died  Age
0  Rosaline Franklin       Chemist  1920-07-26  1958-04-16   37
1     William Gosset  Statistician  1876-06-13  1937-10-16   61
                     Occupation        Born  Age        Died
Rosaline Franklin       Chemist  1920-07-26   37  1958-04-16
William Gosset     Statistician  1876-06-13   61  1937-10-16
                Name    Occupation        Born        Died  Age
0  Rosaline Franklin       Chemist  1920-07-26  1958-04-16   37
1     William Gosset  Statistician  1876-06-13  1937-10-16   61

# 데이터프레임에서 시리즈 선택하기

                     Occupation        Born  Age        Died
Rosaline Franklin       Chemist  1920-07-26   37  1958-04-16
William Gosset     Statistician  1876-06-13   61  1937-10-16

# index, values, keys 사용하기

# 시리즈의 mean, min, max, std 메서드 사용하기

# 시리즈와 불린 추출 사용하기

# 시리즈와 브로드캐스팅

# 데이터프레임과 불린 추출

# 데이터프레임과 브로드캐스팅

# 열의 자료형 바꾸기와 새로운 열 추가하기

# 시리즈, 데이터프레임의 데이터 섞어보기

# 데이터프레임의 열 삭제하기

# 피클 형식으로 저장하기

# CSV 불러오기